{:paths ["src" "test" "resources"]
 :tasks
 {:requires ([lssl.core :as core]
             [selmer.parser :as parser]
             [clojure.edn :as edn]
             [clojure.java.io :as io])

  config-file "lssl-config.edn"
  template    (io/resource "lssl.toml.selmer")
  toml        "SFSE/Plugins/ConsoleCommandRunner/lssl.toml"

  config {:depends [config-file]
          :task    (edn/read-string (slurp config-file))}

  build {:depends [config template toml]
         :task    (let [lines (core/convert config)]
                    (spit toml (parser/render (slurp template) {:lines lines}))
                    (println (slurp toml)))}}}
