{:aliases
 {:guns         [:assault-rifles :automatics :ballistics "EMWeap" :sniper
                 :heavy-gun :lasers :miniguns :pistols :rifles :shotguns :particle]
  :granades     [:thrown :chemical :cryo :fire :explosives :mines]
  :clothes      [:apparel :neuroamps]
  :armors       [:packs :suits :helmets]
  :foods-drinks [:food :booze :drinks]
  :cutter       0x16758}

 :profile
 {:empty {}

  :default
  {:controls {:scan-radius        50.0
              :scan-interval      1.0
              :hand-scanner-only  false
              :allow-stealing     false
              :scan-timeout       30.0
              :notify-on-complete true}

   :filters {:only [:terminals :doors        :containers :actors :valuables :ammo :keys
                    :aid       :collectables :resources  :chems  :books     :epic :custom
                    :mining    :flora
                    #ref [:aliases :guns]
                    #ref [:aliases :foods-drinks]
                    ]

             :except [:toolgrip :melee :junk :unarmed :contraband :value-junk
                      #ref [:aliases :armors]
                      #ref [:aliases :clothes]
                      #ref [:aliases :granades]]}

   :filters-to-ship {:only   [:toolgrip :melee :junk :unarmed :contraband :value-junk :books :chems
                              :mining   :flora
                              #ref [:aliases :armors]
                              #ref [:aliases :clothes]
                              #ref [:aliases :granades]
                              #ref [:aliases :guns]
                              #ref [:aliases :foods-drinks]]
                     :except [:custom :ammo :keys :aid :epic]}

   :actions {:containers {:pick true :search true}
             :books      {:bypass true}
             :terminals  {:hack true}}
   :startup [[:exclude :containers #ref [:aliases :cutter]]
             [:exclude :actors     #ref [:aliases :cutter]]]}

  :hotkeys {:hotkeys {"F2"                   [[:query-state :general]]
                      "F3"                   [[:query-state :cancel]]
                      "F4"                   [[:action :books :bypass true]
                                              [:message "Books Bypassing is disabled."]]
                      "Shift-F4"             [[:action :books :bypass true]
                                              [:message "Books Bypassing is enabled."]]
                      "Home"                 [[:set :pause-scan true]]
                      "Shift-Home"           [[:set :pause-scan false]]
                      "End"                  [[:cancel-scan]]
                      "Shift-MouseWheelDown" ["player.setav speedmult 100"]
                      "Shift-MouseWheelUp"   ["player.setav speedmult 400"]}}}

 :lssl-config #merge [#ref [:profile :empty]
                      #ref [:profile :default]
                      #ref [:profile :hotkeys]]}
