{:paths ["src" "test"]
 :tasks
 {:requires ([lssl.core :as core]
             [selmer.parser :as parser]
             [clojure.string :as str])
  build     (let [config {:control {:scan-radius        4.0
                                    :scan-interval      1.0
                                    :hand-scanner-only  true
                                    :allow-stealing     false
                                    :scan-timeout       60.0
                                    :notify-on-complete true}

                          :filter {:terminals      true
                                   :doors          true
                                   :containers     true
                                   :books          false
                                   :junk           false
                                   :food           true
                                   :booze          true
                                   :drinks         true
                                   :apparel        true
                                   :neuroamps      true
                                   :helmets        true
                                   :packs          true
                                   :suits          true
                                   :assault-rifles true
                                   :automatics     true
                                   :ballistics     true
                                   :chemical       true
                                   :cryo           true
                                   "EMWeap"        true
                                   :explosives     true
                                   :fire           true
                                   :heavy-gun      true
                                   :lasers         true
                                   :melee          true
                                   :miniguns       true
                                   :particle       true
                                   :pistols        true
                                   :rifles         true
                                   :shotguns       true
                                   :sniper         true
                                   :toolgrip       false}

                          :action {:terminals  {"Hack" true}
                                   :doors      {"Pick" true}
                                   :containers {"Pick" true "Search" true}}}
                  lines    (core/convert config)
                  template "babashka/lssl/lssl.toml.selmer"
                  toml     "SFSE/Plugins/ConsoleCommandRunner/lssl.toml"]
              (spit toml (parser/render (slurp template) {:lines lines}))
              (println (slurp toml)))}}
