{:paths ["src" "test"]
 :tasks
 {:requires ([lssl.core :as core]
             [selmer.parser :as parser]
             [clojure.edn :as edn])

  config-file "babashka/lssl-config.edn"
  template    "babashka/lssl/lssl.toml.selmer"
  toml        "SFSE/Plugins/ConsoleCommandRunner/lssl.toml"

  config {:depends [config-file]
          :task    (edn/read-string (slurp config-file))}

  build {:depends [config template toml]
         :task    (let [lines (core/convert config)]
                    (spit toml (parser/render (slurp template) {:lines lines}))
                    (println (slurp toml)))}}}
